


/*Hero section*/
.hero{
    position:relative;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;
}

.hero__banner{
    position:absolute;
    inset:0;
}

.hero__banner img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.hero__content{
    position:relative;
    z-index:2;

    max-width:700px;

    text-align:center;

    padding:2rem;
}

.hero__tag{
    margin-bottom:1rem;
}

.hero__title{
    margin-bottom:1.5rem;
}

.hero__description{
    max-width:650px;
    margin:0 auto 2.5rem;
    line-height:1.8;
}

.hero__button{
    display:inline-block;

    padding:1rem 2.4rem;

    border-radius:999px;

    transition:.3s;
}

/*Overview section*/
.overview{
    max-width:1100px;
    margin:0 auto;

    padding:7rem 2rem;
}

.overview__header{
    text-align:center;

    margin-bottom:3rem;
}

.overview__tag{
    margin-bottom:.8rem;
}

.overview__card{
    max-width:850px;

    margin:0 auto;

    padding:3rem;
}

.overview__card p{
    line-height:1.9;
}

.overview__card p:not(:last-child){
    margin-bottom:1.5rem;
}

.footer{
    min-height:150px;
}
/*Timeline section*/
.timeline{
    padding:7rem 2rem;
}

.timeline__header{
    max-width:700px;
    margin:0 auto 5rem;
    text-align:center;
}

.timeline__container{
    position:relative;
    max-width:1200px;
    margin:0 auto;
}


.timeline__container::before{
    content:"";
    position:absolute;
    left:50%;
    top:0;
    transform:translateX(-50%);
    width:4px;
    height:100%;
    background:#4b4b4b;
}
.timeline__progress{
    position:absolute;
    left:50%;
    top:0;
    transform:translateX(-50%);
    width:4px;
    height:0;
    background:var(--gold);
    transition:height .1s linear;
}

.timeline__item{
    position:relative;
    display:flex;
    width:100%;
    margin-bottom:5rem;
}

.timeline__item--left{
    justify-content:flex-start;
}

.timeline__item--right{
    justify-content:flex-end;
}


.timeline__item::before{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:20px;
    height:20px;
    border-radius:50%;
    z-index:5;
}

.timeline__card{
    width:44%;
    overflow:hidden;
    border-radius:18px;
    transition:.35s;
}

.timeline__card img{
    width:100%;
    height:250px;
    object-fit:cover;
    display:block;
    transition:.35s;
}

.timeline__content{
    padding:2rem;
}

.timeline__year{
    display:inline-block;
    padding:.35rem .9rem;
    margin-bottom:1rem;
    border-radius:999px;
    font-size:.85rem;
    font-weight:700;
}

.timeline__content h3{
    margin-bottom:1rem;
    font-size:1.8rem;
}

.timeline__content p{
    line-height:1.8;
    margin-bottom:2rem;
}

.timeline__content a{
    display:inline-flex;
    align-items:center;
    gap:.5rem;
    font-weight:600;
    transition:.3s;
}

.timeline__card:hover{
    transform:translateY(-8px);
}

.timeline__card:hover img{
    transform:scale(1.05);
}

/*World Map section*/
.map{
    max-width:1200px;
    margin:0 auto;
    padding:7rem 2rem;
}

.map__header{
    max-width:700px;
    margin:0 auto 4rem;
    text-align:center;
}

.map__tag{
    margin-bottom:.8rem;
}

.map__title{
    margin-bottom:1rem;
}

.map__subtitle{
    line-height:1.8;
}

.map__container{
    margin-bottom:3rem;
}

.map__world{
    position:relative;
    width:100%;
    aspect-ratio:16/9;
    overflow:hidden;
}

.map__world img{
    width:100%;
    height:100%;
    object-fit:contain;
    display:block;
}

.map__marker{
    position:absolute;
    transform:translate(-50%,-50%);
    cursor:pointer;
    transition:.3s;
    background:none;
    border:none;
    font-size:1.8rem;
}

.map__marker:hover{
    transform:translate(-50%,-50%) scale(1.2);
}

/*Record section*/
.record{
    max-width:850px;
    margin:0 auto;
    max-height:0;
    overflow:hidden;
}
.record.show{
    max-height:1400px;
    margin-top:3rem;
}

.record__placeholder{
    min-height:300px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    padding:3rem;
}

.record__placeholder h3{
    margin:1rem 0;
}

.record__banner img{
    width:100%;
    height:320px;
    object-fit:cover;
    display:block;
}

.record__title{
    padding:2rem;
}

.record__details{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:2rem;

    padding:0 2rem 2rem;
}

.record__info h4{
    margin-bottom:.5rem;
}

.record__video{
    padding:0 2rem 2rem;
}

.record__video iframe{
    width:100%;
    aspect-ratio:16/9;
    border:none;
}

.record__footer{
    padding:0 2rem 2rem;
}

.record__footer a{
    display:inline-flex;
    align-items:center;
    gap:.5rem;
}

.record{
    opacity:0;
    transform:translateY(30px);
    transition:max-height .5s ease, margin-top .5s ease, opacity .4s ease, transform .4s ease;
}

.record.show{
    opacity:1;
    transform:translateY(0);
    
}

.map__marker.active{
    transform:translate(-50%,-50%) scale(1.35);
}
/*Responsive*/

@media(max-width:900px){

.footer__container{
    grid-template-columns:1fr;
    text-align:center;
    gap:35px;
}

.footer__left{
    justify-content:center;
}

.footer__right{
    align-items:center;
}

.footer__social{
    justify-content:center;
}

}
